" My own vim commands
nnoremap Y y$

" Add/edit actions
nnoremap <leader>gl    :action Vcs.Show.Log<CR>

let mapleader=" "

""" Common settings -------------------------
set showmode
set smartcase
set so=5
set incsearch
set rnu
set visualbell
set noerrorbells

""" Plugins  --------------------------------
set argtextobj
set textobj-entire
set ReplaceWithRegister
set easymotion
set surround
set multiple-cursors
set commentary
set NERDTree
set exchange
set highlightedyank
set textobj-indent
set matchit

""" Plugin settings -------------------------
let g:argtextobj_pairs="[:],(:),<:>"

map <leader>jw <Plug>(easymotion-bd-w)
map <leader>jl <Plug>(easymotion-bd-jk)
"map <leader>fp :action SelectInProjectView<CR>
"map <leader>ga :action Annotate<CR>
map <leader>ej :action ReSharperGotoNextErrorInSolution<CR>

" Reformat the current line only
map <leader>cf V:action ReformatCode<CR>
map <leader>ca :action ShowIntentionActions<CR>

map gq :action com.andrewbrookins.idea.wrap.WrapAction<CR><Esc>

map <leader>th :action ToggleInlayHintsGloballyAction<CR>
map gt :action GotoTypeDeclaration<CR>
map gi :action GotoImplementation<CR>

map <leader>gr :action Vcs.RollbackChangedLines<CR>
map <leader>gn :action VcsShowNextChangeMarker<CR> 

map <leader>dt vat<Esc>da>`<da>

map <leader>me :action EmmetUpdateTag<CR>
map <leader>mse :action SurroundWithEmmet<CR>
map <leader>mss :action SurroundWithLiveTemplate<CR>


" Just makes me nervous
map H h

" Selected Intellimacs modules
source ~/.intellimacs/spacemacs.vim
source ~/.intellimacs/extra.vim
source ~/.intellimacs/major.vim
source ~/.intellimacs/which-key.vim

map <leader>mi :action ShowIntentionActions<CR>

set timeoutlen=1000
set ideajoin

nmap <C-o> <Action>(Back)
nmap <C-i> <Action>(Forward)
noremap gV `[v`]
let g:surround_{char2nr('o')} = "["\r"]"

vnoremap K :action MoveLineUp<CR>
vnoremap J :action MoveLineDown<CR>
